<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id        = "com.grupaekspert.angielskizmichalem"
        version   = "1.0.0">
<name>AngielskizMichałem 1.0</name>
  <description>Aplikacja z zadaniami z jezyka angielskiego</description>
  <author href="http://deb.pl" email="it@e-polyglots.com">DEB.pl</author>
    <preference name="stay-in-webview" value="true" />

    <access origin="*" browserOnly="true" subdomains="true" />

    <content src="index.html" />

    <allow-navigation href="https://wielkasciaga.ml/*" />

    <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
    <gap:plugin name="org.apache.cordova.inappbrowser"  source="pgb"/>
    <gap:plugin name="org.apache.cordova.splashscreen"  source="pgb"/>

    <preference name="phonegap-version"           value="cli-9.0.0" />
    <preference name="permissions"                value="none"/>
    <preference name="target-device"              value="universal"/>
    <preference name="fullscreen"                 value="true"/>

</widget>